export GARMIN_EMAIL=""
export GARMIN_PASSWORD=""

# Step challenge channel url
export ZAPIER_WEBHOOK_URL=""

# database connection string
export CONN_STR=""

# example of sqlite database connection string:
# export CONN_STR="sqlite:///the_database_file.db"

# example of postgresql database connection string:
# export CONN_STR="postgresql://user:password@host:port/database"
