<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/static/favicon.png" />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" /> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

    <script>
        function onEnterKey(ele) {
            if (event.key === 'Enter') {
                drawChart();
            }
        };

        function drawChart() {
            const actualStepData = {{ hourly_step_data | none_to_null }}

            // const startHour = parseInt(document.getElementById('startHour').value);
            // const endHour = parseInt(document.getElementById('endHour').value);
            const startHour = {{ start_hour }};
            const endHour = {{ end_hour - 12}};
            const targetSteps = parseInt(document.getElementById('targetSteps').value || 15000);

            // build data for the goal line
            const startTime = startHour;
            const endTime = 22;
            const numHours = endTime - startTime;
            const increment = targetSteps / numHours;
            const goalData = Array(numHours + 1).fill().map((v, i) => Math.round(i * increment));

            const perHour = parseInt(targetSteps / numHours);
            document.getElementById('perhour').innerHTML = `Per Hour: ${perHour}`;

            // build labels for the x-axis
            const labels = Array(12 - startHour).fill().map((v, i) => ((i + startHour) + "am")).concat("12pm", Array(endHour).fill().map((v, i) => ((i + 1) + "pm")));

            labels.splice(3, 1, "12pm");

            // destroy the chart if it already exists
            if (window.stepChart != null) {
                window.stepChart.destroy();
            }

            // create the chart
            window.stepChart = new Chart(
                document.getElementById("myChart").getContext("2d"),
                {
                    type: "line",
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                data: goalData,
                                label: "Goal",
                                borderColor: "#0074D9",
                                backgroundColor: "rgb(0, 116, 217, 0.1)",
                                fill: true,
                            },
                            {
                                data: actualStepData,
                                label: "Actual",
                                borderColor: "#FF4136",
                                backgroundColor: "rgb(255, 65, 54, 0.1)",
                                tension: 0.2,
                                fill: true,
                            },
                            {
                                data: Array(goalData.length).fill(goalData[goalData.length - 1]),
                                label: "Target",
                                borderColor: "#FFDC00",
                                backgroundColor: "#FFDC00",
                            },
                        ],
                    },
                    options: {
                        responsive: true,
                    }
                }
            );
        }
        document.addEventListener("DOMContentLoaded", drawChart);

    </script>
    <title>Step Progress</title>
</head>

<body>

    <!-- Page Content -->
    <div class="w3-panel">
        <header class="w3-container w3-center w3-light-grey">
            <h2 id="headline">Step Progress</h2>
        </header>
    </div>

    <div class="w3-cell-row w3-responsive">
        <div class="w3-container w3-cell">
            <canvas id="myChart"></canvas>
        </div>
        <div class="w3-container w3-cell">
            <div class="w3-container w3-cell">
                <p>
                    <label>Target Steps</label>
                    <input onkeydown="onEnterKey(this)" class="w3-input" id="targetSteps" step="100" type="number"
                        value="15000" placeholder="15000">

                    <!-- <label>Start Time</label>
                  <select class="w3-input" id="startHour">
                      <option value="7">7am</option>
                      <option value="8">8am</option>
                      <option selected value="9">9am</option>
                      <option value="10">10am</option>
                    </select>

                    <label>End Time</label>
                  <select class="w3-input" id="endHour">
                      <option value="8">8pm</option>
                      <option value="9">9pm</option>
                      <option selected value="10">10pm</option>
                      <option value="11">11pm</option>
                    </select> -->

                </p>
                <button onclick="drawChart()" id="recalc" class="w3-button w3-green w3-large">Recalculate </button>
            </div>
            <div class="w3-container">
                <label id="perhour">Per Hour: </label>
            </div>
        </div>
    </div>
</body>

</html>
