{
    // See https://go.microsoft.com/fwlink/?LinkId=733558
    // for the documentation about the tasks.json format
    "version": "2.0.0",
    "options": {
        "env": {
            // Path to Python virtual environment relative to user home directory
            "PYTHON_VENV": "/.envs/garmin/bin/activate"
        }
    },
    "tasks": [
        {
            "label": "DB Shell",
            "type": "shell",
            "command": "source .env && ./db_sess.sh",
            "presentation": {
                "focus": true,
            },
            "problemMatcher": []
        },
        {
            "label": "Pull and Post",
            "type": "shell",
            "command": "source .env && source ${userHome}$PYTHON_VENV && make pull-and-post",
            "presentation": {
                "focus": true,
            },
            "problemMatcher": []
        },
        {
            "label": "Update Depedencies",
            "type": "shell",
            "command": "source ${userHome}$PYTHON_VENV && make update-dependencies",
            "presentation": {
                "focus": true,
            },
            "problemMatcher": []
        },
    ]
}
