{
  // See https://go.microsoft.com/fwlink/?LinkId=733558
  // for the documentation about the tasks.json format
  "version": "2.0.0",
  "options": {
    "env": {}
  },
  "tasks": [
    {
      "label": "DB Shell",
      "type": "shell",
      "command": "source .envrc && make db-session",
      "presentation": {
        "focus": true
      },
      "problemMatcher": []
    },
    {
      "label": "Pull and Post",
      "type": "shell",
      "command": "source .envrc && make pull-and-post",
      "presentation": {
        "focus": true
      },
      "problemMatcher": []
    },
    {
      "label": "Run Server",
      "type": "shell",
      "command": "source .envrc && make run-server",
      "presentation": {
        "focus": true
      },
      "problemMatcher": []
    },
    {
      "label": "Run Unit Tests",
      "type": "shell",
      "group": {
        "kind": "test",
        "isDefault": true
      },
      "command": "source .envrc && make test"
    },
    {
      "label": "Generate Coverage Report",
      "type": "shell",
      "group": {
        "kind": "test",
        "isDefault": true
      },
      "command": "source .envrc && make test-coverage && open htmlcov/index.html"
    },
    {
      "label": "Update Depedencies",
      "type": "shell",
      "command": "make update-dependencies",
      "presentation": {
        "focus": true
      },
      "problemMatcher": []
    }
  ]
}
